@font-face {
  font-family: "MyAwesomeVariableFont";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
  font-weight: 100 900; /* Range from lightest to boldest */
}
* {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;

  margin: 0 !important;
}

.section1 {
  background-image: url("assets/hero1.jpg");
  min-width: 100%;
  min-height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 950px;
}
.thez {
  color: #cbdeec;
}
.rowtop {
  padding-top: 10px;
}
#logo {
  font-size: 50px;
  margin-top: 75px;
  margin-left: 10px;
}
#goaround {
  margin-top: 50px;
  text-align: center;
}
#goaround a {
  padding-right: 120px;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}
.topbtnsub {
  height: 40px;
  width: 200px;
  background-color: inherit;
}
.middleheading {
  margin-top: 200px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 250px;
}
.heroheader {
  font-family: "Inter", sans-serif;
  font-size: 112px;
  font-weight: 400;
}
.subheader {
  padding-top: 25px;
  padding-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}
.floatingline {
  margin: auto;
  width: 10%;
  border: 2px solid black;
}

.section2 {
  margin-top: 0 !important;
  background-color: #f8f8f8;
  height: 900px;
}

#innerboxsection2 {
  text-align: center;
  margin-left: 20px;
  padding-top: 200px;
}
#sectionheader {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 30px;
}
.floatingarticleline {
  margin: auto;
  width: 4%;
  border: 1px solid black;
}
.card-container {
  padding-top: 65px;
}
.column {
  float: left;
  width: 270px;
  padding: 0 30px;
}

.row {
  margin: 0 -5px;
  margin-left: 150px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  flex: 1;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
}
.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card .cardbody {
  padding: 50px;
  background-color: inherit;
}
.floatingcardline {
  margin: auto;
  width: 20%;
  border: 3px solid black;
}

/*Section 3*/

.section3 {
  background-color: #fff;
}
.rowcontainer {
  display: flex;
  flex-wrap: wrap;
}
.left-column {
  background-image: url("assets/drone8.png");
  height: 650px;
  width: 40%;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.right-column {
  width: 60%;
  background-color: white;
  padding: 100px 0px 75px 0px;
}
.aboutushearder {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}
.floatingaboutline {
  margin: auto;
  width: 10%;
  border: 1px solid black;
}
.aboutusparagraph {
  display: flex;
  align-items: center;
  padding-top: 70px;
  width: 70%;
  margin: auto;
}
/* Section 4 */
.section4 {
  background-color: #f8f8f8;
  height: 300px;
}
.subscribehearder {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 300;
  padding: 12px 0px;
  text-align: center;
}
.subscribesubhearder {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.rowcenter {
  padding-top: 35px;
  display: block;
  text-align: center;
}

.subscribeform form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
form .form-email {
  height: 60px;
  border-color: #fff;
  width: 600px;
}

form .btnsub {
  height: 40px;
  width: 200px;
  margin-top: 25px;
  background-color: #f8f8f8;
}
/* Last Section */
.sectionlast {
  height: 100px;
  width: 100%;
  background-color: #fff;
}
#footer {
  margin-top: 60px;
}
.social-icons {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  gap: 50px;
}

.icon {
  text-decoration: none;
  font-size: 24px;
}

.icon:hover {
  color: #0073e6; /* Change color on hover */
}
.left {
  padding-left: 50px;
  text-align: left;
  float: left;
}
.right {
  margin-right: 50px;
  float: right;
  text-align: right;
}
.bottomlinks {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
  gap: 40px;
}
.centered {
  text-align: center;
}
